@CHARSET "UTF-8";
.left_a a {
			
			position: relative;
			padding: 10px 50px;
			color: #03e9f4;
			/* 取消a表现原有的下划线 */
			text-decoration: none;
			/* 同样加个过渡 */
			transition: all 0.5s;
		}
		.left_a a:hover {
			color: #fff;
			border-radius: 2px;
			background-color: #03e9f4;
			box-shadow: 0 0 20px #03e9f4, 0 0 20px #03e9f4, 0 0 20px #03e9f4,
				0 0 20px #03e9f4;
		}
		.left_b{
			padding-top: 50px;
			font-size:15px;
		}
		.left_a{
			background: #ffffff;
		}
		body{
			background: #ffffff;
		}